@import url('https://fonts.googleapis.com/css?family=Cute+Font');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Cute Font', cursive;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cute Font', cursive;
  color: #33313b;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #dfe2e2;
  padding: 1em;
}

/* start */

.bk-start {
  background-color: #dfe2e2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 11;
}

/* header */

.container-header {
  width: 100%;
  max-width: 405px
}

.container-header h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 52px;
  margin-top: 0;
}

.container-header .infor-header {
  text-align: center;
}

.container-header .infor-header>div {
  padding: .5em;
}

/* stars */

.stars {
  display: inline-flex;
  width: 35%;
  position: relative;
  overflow: hidden;
}

.stars svg {
  margin: 0 auto;
  font-size: 15px;
}

.stars .stars-wrap {
  display: inline-block;
  position: relative;
  padding: 0;
}

.stars .stars-active {
  color: #EEBD01;
  position: relative;
  z-index: 10;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s ease;
}

.stars .stars-inactive {
  color: rgb(131, 131, 131);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: initial;
}

/* moves */

.container-header .infor-header .moves {
  display: inline-flex;
  width: 40%;
  padding: 0;
}

.container-header .infor-header .moves span {
  text-transform: uppercase;
  font-size: 26px;
}

.container-header .infor-header .moves span:last-of-type {
  padding-left: .2em;
}

/* game */
.container-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: wrap;
  border-radius: .5em;
  width: 100%;
  max-width: 520px;
  padding: 1em 0;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

/* cards */

.container-game .card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 64px;
  height: 64px;
  margin: .25em;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: transparent;
  background-clip: initial;
  border: none;
  border-radius: .5em;
}

.container-game .card:not(.show):hover {
  cursor: pointer;
}

.container-game .card [class*="card-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-game .card .card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #3c415e;
}

.container-game .card .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #ffcd3c;
  text-align: center;
  transform: rotateY(180deg);
  transition: all 0.5s ease;
}

.container-game .card .card-back span {
  font-size: 32px;
  color: #ffffff;
  line-height: 0;
}

.container-game .card.verified .card-back {
  background-color: #4a9ff5;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  transition: background-color 1s;
}

.container-game .card.error .card-back {
  background-color: #e16262;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.container-game .card.show {
  transform: rotateY(180deg);
}

/* buttons */

.btn-start,
.btn-reload {
  position: relative;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #e16262;
  background-color: #e16262;
  text-align: center;

  color: #fff;
  text-transform: uppercase;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #8b3d3d;
  -moz-box-shadow: 0px 6px 0px #8b3d3d;
  box-shadow: 0px 6px 0px #8b3d3d;
}

.btn-start {
  margin: 0 auto;
  font-size: 30px;
  padding: 10px 12px 8px;
  width: 160px;
}

.btn-reload {
  margin: .5em auto 1em;
  font-size: 26px;
  padding: 6px 14px 4px;
  width: auto;
}

.btn-start:active,
.btn-reload:active {
  -webkit-box-shadow: 0px 2px 0px #8b3d3d;
  -moz-box-shadow: 0px 2px 0px #8b3d3d;
  box-shadow: 0px 2px 0px #8b3d3d;
  position: relative;
  top: 4px;
}

.btn-start:hover,
.btn-reload:hover {
  text-decoration: none;
  color: #fff;
}

/* modal */

.modal-body h2 {
  text-align: center;
  font-size: 42px;
  color: #4a9ff5;
}

.modal-body p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

.modal-footer button {
  font-size: 26px;
  padding: .1em .5em;
}

/* timer */

.container-timer {
  font-size: 28px;
  margin-top: .5em;
}

.container-timer span:nth-of-type(1),
.container-timer span:nth-of-type(2) {
  display: none;
}

/* responsive */

@media only screen and (min-width: 370px) {

  /* cards */
  .container-game .card {
    width: 75px;
    height: 75px;
    margin: .3em;
  }
}

@media only screen and (min-width: 452px) {

  /* cards */
  .container-game .card {
    width: 92px;
    height: 92px;
  }
}

@media only screen and (min-width: 530px) {

  /* cards */
  .container-game .card {
    width: 110px;
    height: 110px;
    margin: .5em;
  }

  /* stars */
  .stars {
    width: 30%;
  }

  .container-header .infor-header .stars svg {
    font-size: 18px;
  }

  /* moves */
  .container-header .infor-header .moves {
    width: 35%;
  }
}