@import url('https://fonts.googleapis.com/css?family=Cute+Font');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Cute Font', cursive;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cute Font', cursive;
  color: #33313b;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #dfe2e2;
  padding: 1em;
}

/* start */
.bk-start {
  background: #dfe2e2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bk-start .btn-start,
.container-header .infor-header .btn-reload {
  position: relative;
  width: 160px;
  /* margin: 4em auto 0; */
  margin: 0 auto;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #e16262;
  background: #e16262;
  text-align: center;
  padding: 10px 12px 8px;
  
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #8b3d3d;
  -moz-box-shadow: 0px 6px 0px #8b3d3d;
  box-shadow: 0px 6px 0px #8b3d3d;
}

.bk-start .btn-start:active,
.container-header .infor-header .btn-reload:active {
  -webkit-box-shadow: 0px 2px 0px #8b3d3d;
  -moz-box-shadow: 0px 2px 0px #8b3d3d;
  box-shadow: 0px 2px 0px #8b3d3d;
  position: relative;
  top: 4px;
}


/* header */
.container-header {
  width: 100%;
  max-width: 405px
}

.container-header h1 {

  text-align: center;
  font-size: 52px;
  margin-top: 0;
}

.container-header .infor-header {
  text-align: center;
}

.container-header .infor-header div {
  padding: .5em;
}

/* stars */
.container-header .infor-header .stars {
  display: inline-flex;
  width: 35%;
}

.container-header .infor-header .stars svg {
  margin: 0 auto;
  font-size: 13px;
}

/* moves */
.container-header .infor-header .moves {
  display: inline-flex;
  width: 40%;
}

.container-header .infor-header .moves span {
  font-size: 26px;
}

.container-header .infor-header .moves span:last-of-type {
  padding-left: .2em;
}

.container-header .infor-header .btn-reload {
  margin: .5em auto 1em;
  font-size: 26px;
  padding: 6px 14px 4px;
  width: auto;
}

/* game */
.container-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-flow: wrap; 
  border-radius: .5em;
  width: 100%;
  max-width: 520px;
  padding: 1em 0;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

/* cards */
.container-game .card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 64px;
  height: 64px;
  margin: .25em;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.container-game .card:not(.show):hover {
  cursor: pointer;
}

.container-game .card [class*="card-"] {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-game .card .card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .5em;
  backface-visibility: hidden;
  overflow: hidden;
  background: #3c415e;
}

.container-game .card .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffcd3c;
  text-align: center;
  transform: rotateY(180deg); 
}

.container-game .card .card-back span {
  font-size: 32px;
  color: #ffffff;
  line-height: 0;
}

.container-game .card.show {
  transform: rotateY(180deg);
}

/* responsive */
@media only screen and (min-width: 370px) {

  /* cards */
  .container-game .card {
    width: 75px;
    height: 75px;
    margin: .3em;
  }

  /* stars */
  .container-header .infor-header .stars svg {
    font-size: 16px;
  }
}

@media only screen and (min-width: 452px) {

  /* cards */
  .container-game .card {
    width: 92px;
    height: 92px;
  }
}

@media only screen and (min-width: 530px) {

  /* cards */
  .container-game .card {
    width: 110px;
    height: 110px;
    margin: .5em;
  }

  /* stars */
  .container-header .infor-header .stars svg {
    font-size: 18px;
  }

  /* moves */
  .container-header .infor-header .moves {
    width: 35%;
  }
}